@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    height: calc(2500px + 100vh);
    margin: 0;
    background-color: #151515;
    font-family: 'PT Sans Narrow', sans-serif;
}

#sidebar {
    z-index: 10;
    position: fixed;
    background: #111;
    height: 100vh;
    width: 30vw;
    color: #f1f1f1;
    display: flexbox;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.bar-link {
    cursor: pointer;
    color: #f1f1f1;
    font-size: calc((3vh + 3vw) / 2);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bar-link-div {
    margin: 5px;
    padding: 5px;
    background:#151515 ;
}

#close-menu {
    filter: invert(70%);
    margin: 0;
    position: relative;
    left: calc(15vw - 25px);
    transition: transform 0.5s ease-in-out;
}

.link-img {
    filter: invert(70%);
    margin-right: 10px;
    position: relative;
}

.closed {
    transform: translateX(-30vw);
}

.btn-closed {
    transform: translateX(calc(15vw + 30px));
}

.about {
    transition: transform 900ms ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #151515;
}

#about-header {
    height: 50vh;
    display: flex;
    align-items: center;
    background: linear-gradient(#15151555 -20%, #151515 100%) ,  no-repeat center/80% url(./img/About/Ukraine-flag-volunteers.jpg) , #e1e1e1;
}

#about-header h1 {
    width: 100vw;
    text-align: center;
    position: relative;
    color:whitesmoke;
    line-height: calc((9vh + 9vw) / 2);
    font-size: calc((9vh + 9vw) / 2);
}

#about-main {
    color: whitesmoke;
    text-align: center;
}

.volunteers {
    display: flex;
    transition: transform 900ms ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #151515;
}

#volunteers-header {
    position: absolute;
    height: 100vh;
    width: 50vw;
    left: 50vw;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #15151555 -20%, #151515 100%) ,  no-repeat center 30%/100% url(./img/volunteers/Serhiy_Prytula.jpg) , #555;
}

#volunteers-header h1 {
    width: 100vw;
    text-align: center;
    position: relative;
    color:whitesmoke;
    line-height: calc((9vh + 9vw) / 2);
    font-size: calc((9vh + 9vw) / 2);
}

#volunteers-main {
    width: 50vw; 
    color: whitesmoke;
    text-align: center;
}


.org {
    transition: transform 900ms ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #151515;
}

#org-header {
    top: 50vh;
    position: absolute;
    height: 50vh;
    display: flex;
    align-items: center;
    background: linear-gradient(#15151555 -20%, #151515 100%) ,  no-repeat center/50% url(./img/org/povernys-Zhyvym.png) , #fff;
}

#org-header h1 {
    width: 100vw;
    text-align: center;
    position: relative;
    color:whitesmoke;
    line-height: calc((9vh + 9vw) / 2);
    font-size: calc((9vh + 9vw) / 2);
}

#org-main {
    color: whitesmoke;
    text-align: center;
}

.links {
    transition: transform 900ms ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #151515;
}

.lists {
    transition: transform 900ms ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #151515;
}

.hide-up {
    transform: translateY(-100vh);
} 

.hide-down {
    transform: translateY(100vh);
}

h1, p {
    transition: transform 1.5s, opacity 1.5s;
}

.hide-down h1, .hide-down p, .hide-up h1, .hide-up p {
    transform: translateX(100px);
    opacity: 0;
}